<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informacion De entrega</title>
    <link rel="stylesheet" href="css/flexboxgrid.min.css">
    <link rel="stylesheet" href="css/terminosYEntregas.css">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1 id="title">MascoPet</h1>
        <div class="container">
            <div class="navegacion">
                <nav>
                    <ul>
                        <li><a href="inicio.html">Inicio <span class="icon icon-up-dir"></span></a></li>
                        <li><a href="contacto.html">Contacto <span class="icon icon-up-dir"></span></a></li>
                        <li>
                            <a href="#">Productos <span class="icon icon-up-dir"></span></a>
                            <div class="submenu">
                                <div class="submenu-items">
                                    <p>Alimentos</p>
                                    <ul>
                                        <li><a href="alimentosGatos.html">Gato</a></li>
                                        <li><a href="#">Perro</a></li>
                                        <li><a href="#">Ave</a></li>
                                    </ul>
                                </div>
                                <div class="submenu-items">
                                    <p>Accesorios</p>
                                    <ul>
                                        <li><a href="#">Gato</a></li>
                                        <li><a href="#">Perro</a></li>

                                    </ul>
                                </div>

                            </div>
                        </li>
                        <li><a href="cuenta.html">Mi cuenta <span class="icon icon-up-dir"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    <section class="row texto">
        <article class="col-xs-12 col-md-12">
            <h1 class="tituloInfo">Información de entrega</h1>
            <h2>Un mundo para tus mascotas</h2>

            <p>
                En mascoPet queremos que tengan mejores experiencias de compra, para eso te damos a conocer nuestras políticas de despacho dentro de la Quinta Región
            </p>

            <h3>Despacho de los Productos</h3>
            <p>
                Los productos adquiridos en nuestro sitio web www.mascoPet.cl se sujetarán a las condiciones de despacho ofrecida y disponible en el sitio. A partir de que se confirme la compra del o los productos se generará una orden de compra que será procesada por
                nuestras ejecutivas de ventas, quienes coordinarán el despacho dentro de las próximas 48 horas hábiles. Esto dependerá del horario en que la compra sea realizada, ya que nuestro horario de atención de 8:00 a las 18:00 horas. de lunes a
                viernes. Todas las compras realizadas durante el fin de semana serán procesadas el día lunes y coordinadas para despacho al día siguiente. Los plazos de entrega comienzan desde el momento en que es validado el medio de pago y el stock
                del producto, y el tiempo que tarde tu compra, desde que es efectuada hasta que llega a la dirección señalada por ti, dependerá de la localización en que te encuentres. Si tu despacho es pactado para las comunas de Valparaíso, Viña del
                Mar, Quilpué. Villa alemana o Limache, y la efectúas hoy hasta las 18:00 horas, recibirás tu producto dentro de los próximos 2 días hábiles. (Los festivos no se consideran para el plazo de entrega, retomándose el siguiente día hábil).
                El despacho de productos de gran volumen y peso comprados en mascoPet.cl se hace en el domicilio que indique el cliente, siempre que este sea de fácil acceso para el vehículo y personal que lo transporta, en caso contrario, se entiende
                cumplido con el despacho, entregando el producto en el estacionamiento del lugar o acceso al recinto donde este se ubique.
            </p>
            <p>
                El despacho y reparto a domicilio no tiene costos para nuestros clientes, de las ciudades de Limache, Villa Alemana, Quilpué, Viña del Mar, Valparaíso, Con Con, Placilla, Curauma y Laguna Verde.
            </p>
            <p>
                Además siempre que la compra sea superior a $10.000 en arenas sanitarias, alimentos o el equivalente a un saco de 8 Kg o más
            </p>
        </article>
    </section>

    <footer>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-1">
                <h3>MascoPet</h3>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a class="info" href="Terminos.html" style="text-decoration:none">Términos y Condiciones de Compra y Reparto</a><br><br>
                <a class="info" href="informacionDeEntrega.html" style="text-decoration:none">Información de entrega</a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a class="info" href="Terminos.html" style="text-decoration:none">Términos y Condiciones de Compra y Reparto</a><br><br>
                <a class="info" href="informacionDeEntrega.html" style="text-decoration:none">Información de entrega</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 ">
                <span>Direccion: </span>
                <span>Correo: maskopet.rv@atencion.cl</span>
                <span>Telefono: +56 987817765 / 800 800 3000</span>
            </div>
        </div>
    </footer>
</body>



</html>