<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terminos de entrega</title>
    <link rel="stylesheet" href="css/flexboxgrid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/terminosYEntregas.css">
</head>

<body>
    <header>
        <h1 id="title">MascoPet</h1>
        <div class="container">
            <div class="navegacion">
                <nav>
                    <ul>
                        <li><a href="inicio.html">Inicio <span class="icon icon-up-dir"></span></a></li>
                        <li><a href="contacto.html">Contacto <span class="icon icon-up-dir"></span></a></li>
                        <li>
                            <a href="#">Productos <span class="icon icon-up-dir"></span></a>
                            <div class="submenu">
                                <div class="submenu-items">
                                    <p>Alimentos</p>
                                    <ul>
                                        <li><a href="alimentosGatos.html">Gato</a></li>
                                        <li><a href="#">Perro</a></li>
                                        <li><a href="#">Ave</a></li>
                                    </ul>
                                </div>
                                <div class="submenu-items">
                                    <p>Accesorios</p>
                                    <ul>
                                        <li><a href="#">Gato</a></li>
                                        <li><a href="#">Perro</a></li>

                                    </ul>
                                </div>

                            </div>
                        </li>
                        <li><a href="cuenta.html">Mi cuenta <span class="icon icon-up-dir"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
<section class="row">
    <article class="col-xs-12 texto">
        <h1 class="tituloInfo">Termino y Condiciones</h1>
        <h2>Un mundo para tus mascotas</h2>

        <h3>Acceso y uso de red</h3>
        <p>El acceso y uso de este sitio web se rige por los términos y condiciones descritos a continuación, así como por la legislación que se aplique en la República de Chile. En consecuencia, todas las visitas y todos los contratos y transacciones que
            se realicen en este sitio, como asimismo sus efectos jurídicos, quedarán regidos por estas reglas y sometidas a esa legislación. Se deja expresa constancia que estos términos y condiciones no podrán variar sino en virtud de una nueva protocolización
            de nuevos términos y condiciones, que regirán a partir de la fecha de la respectiva protocolización</p>

        <h3>Derechos del Usuario de este sitio</h3>
        <p>El usuario gozará de todos los derechos que le reconoce la legislación sobre protección al consumidor vigente en el territorio de Chile, y además los que se le otorgan en estos términos y condiciones.
        </p>
        <p>El usuario dispondrá en todo momento de los derechos de información, rectificación y cancelación de los datos personales conforme a la Ley Nº19.628 sobre protección de datos de carácter personal. La sola visita de este sitio en el cual se ofrecen
            determinados bienes y el acceso a determinados servicios, no impone al consumidor obligación alguna, a menos que haya aceptado en forma inequívoca las condiciones ofrecidas por el proveedor, en la forma indicada en estos términos y condiciones.
        </p>

        <h3>Políticas de Devolución y Cambios</h3>
        <p>Los clientes o usuarios que hayan comprado o adquirido productos en www.mascoPet.cl podrán solicitar su devolución o cambio, conforme lo establecido en el presente documento:
        </p>

        <h3>1- Reglas generales de devolución o cambio de productos:</h3>
        <p>
            A) Llama al 800 800 3000 para que el producto sea retirado en tu domicilio. El retiro se programará según la disponibilidad del proveedor y su costo será equivalente al costo de despacho del producto a la dirección de retiro sin contar promociones de
            despacho aplicadas a la entrega, que deberá ser asumido por el cliente.
        </p>
        <p>
            B) Para hacer efectiva la devolución o cambio, el producto devuelto deberá cumplir con los siguientes requisitos:
        </p>

        <ul>
            <li>Realizar la solicitud antes de 10 días contados desde la recepción del artículo, llamando al Call Center de mascoPet 800 800 3000</li>
            <li>No puede haber sido probado ni usado</li>
            <li>Debe estar en buen estado, con sus embalajes originales completos, gráficas de cajas, plumavit de interiores, amarras, etcétera.</li>
            <li>Debe entregarse con todos sus accesorios, manuales y pólizas de garantías</li>
            <li>Presentar la boleta o factura de la compra.</li>
            <li>La solicitud de devolución o cambio debe sólo ser realizada por el titular de la compra.</li>
        </ul>

        <p>
            C) Cumplidos todos los requisitos anteriores, podrás solicitar el cambio de producto o la devolución del precio pagado por él
        </p>

        <h3>2 – Beneficio especial de devolución o cambios de productos recepcionados con daños:</h3>
        <p>
            Si recibiste un producto con daños, ¡rechaza la entrega! Llama al 800 800 3000 y solicita el envío de un nuevo producto. El plazo para realizar este rechazo es sólo de 10 días contados desde la recepción del producto.
        </p>
    </article>
</section>

<footer>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-1">
            <h3>MascoPet</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <a class="info" href="Terminos.html" style="text-decoration:none">Términos y Condiciones de Compra y Reparto</a><br><br>
            <a class="info" href="informacionDeEntrega.html" style="text-decoration:none">Información de entrega</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 ">
            <span>Direccion: </span>
            <span>Correo: maskopet.rv@atencion.cl</span>
            <span>Telefono: +56 987817765 / 800 800 3000</span>
        </div>
    </div>
</footer>

</html>